.loadMore {
  color: var(--pink);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.postBox {
  cursor: pointer;
  margin: 2rem 0;

  h2 {
    color: var(--heading);
    font-size: 28px;
    font-weight: bold;
  }

  p {
    color: var(--body);
    font-size: 18px;
    margin-top: 0.5rem;
  }

  span {
    margin-top: 1rem;
    font-size: 14px;
    color: var(--info);

    time {
      margin-left: 5px;
    }
  }

  div {
    display: flex;
    gap: 1rem;
  }
}
