.postWrapper {
  padding: 2rem 0px;

  strong {
    font-size: 48px;
    color: var(--heading);
  }
}

.banner {
  width: 100vw;
  height: 300px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.postInfo {
  margin-top: 1rem;
  display: flex;
  gap: 15px;

  span {
    color: var(--info);
  }
}

.postBody {
  margin-top: 2.5rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading);
  }

  p {
    margin-top: 1rem;
    color: var(--body);
  }

  time {
    margin: 25px;
  }
}
